/* public/css/app.css */

/* Styling for the app */

body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .alert {
    margin-bottom: 20px;
  }
  
  .table {
    margin-bottom: 20px;
  }
  /* Additional styling for calculator */
.calculator {
    text-align: center;
  }
  
  .calculator input,
  .calculator select,
  .calculator button {
    margin: 10px;
    font-size: 18px;
  }
  
  .calculator button {
    width: 80px;
  }
  
  .result-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .result {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px;
    background-color: #f8f9fa;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  