.calculator {
    width: 300px;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.screen {
    margin-bottom: 10px;
}

#display {
    width: 100%;
    height: 40px;
    font-size: 20px;
    padding: 5px;
    text-align: right;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.key {
    width: 100%;
    height: 40px;
    font-size: 18px;
    background-color: #eee;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.operation {
    background-color: #f1c40f;
}

.equal {
    background-color: #2ecc71;
    color: #fff
}